# Build e IDE
/build/
/.gradle/
/out/
.idea/
*.iml
*.class

# Bin / target
./bin/
./target/
./dist/

# Db
./data/
./data/hackhubdb.mv.db
./data/hackhubdb.trace.db

# Logs
./logs/

# Credenziali Google Calendar
./src/main/resources/google-calendar/*.json

#Credenziali PayPal
./src/main/resources/application.properties